PORT=3000
NODE_ENV=development
DIRECT_URL=postgresql://usuario:senha@localhost:5432/floricultura?schema=public
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/floricultura?schema=public
JWT_SECRET=change-me-in-local-development
